<launch>
  <param command="$(find xacro)/xacro $(find chassi_3_description)/urdf/chassi_3.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model chassi_3" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find chassi_3_description)/worlds/floor.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
  
  </node>
</launch>
